body{
    background-color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    cursor: none;
    }

nav {
    background-color: #333;
    padding: 10px;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul a {
      color: white;
      text-decoration: none;
      padding: 8px 12px;
      display: block;
      gap: 30px;
    }

.lanterna{
    position: fixed;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), rgba(255,255,255,0.2), transparent 80%);
}
